/* SITEMAIN
	================================================== */
	.site-section {
		padding-top: 90px;
	}

	.section-skills,
	.section-portfolio,
	.section-form {
	    padding-bottom: 90px;
	}

	.site-section h2,
	.site-section h3 {
		font-size: 32px
	}

	/* Section: Skills */
	.section-skills .col-md-4 + .col-md-4,
	.skill + .skill {
		margin-top: 20px;
	}

	.skill h4 {
		font-size: 22px;
	}
